<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--1.导入spring依赖spring-context-->

        <!--2.配置bean-->
        <!--bean标签表示配置bean
            id是给bean起名字
            class是定义bean的类型，找到bean位置
            name是起别名的，多个别名中间可以用 空格、逗号、分号 隔开
        -->
        <bean id="bookDao1" name="dao dao2 dao3" class="com.yxy.dao.impl.BookDaoImpl"/>

        <!--多一个 property 标签,表示是Service里注入Dao-->
        <bean id="bookService" class="com.yxy.service.impl.BookServiceImpl">
                <!--7.配置service和dao的关系-->
                <!--
                  property表示配置对应的属性
                  name属性表示配置方法内的哪一个对象 (这个是方法内,属性的名称)
                  ref属性表示要注入哪一个bean对象 (这个是容器内的bookDao)
                 -->
                <property name="bookDao" ref="bookDao1"/>
        </bean>

</beans>