<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd

           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           ">

    <!--1.开启context命名空间-->
    <!--2.使用context空间加载property文件-->

    <!--加载一个property配置文件的情况-->
    <!--<context:property-placeholder location="jdbc.properties" system-properties-mode="NEVER"/>-->
    <!--加载两个property配置文件的情况-->
    <context:property-placeholder location="jdbc.properties,jdbc2.properties" system-properties-mode="NEVER"/>
    <!--加载所有property配置文件的情况-->
    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>

    <!--3.使用属性占位符${}加载property文件中的属性-->
    <bean  class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="bookDao" class="com.yxy.dao.impl.BookDaoImpl">
        <!--【system-properties-mode="NEVER"】属性是关闭系统环境变量，不然username的值将是itcast-->
        <property name="name" value="${username}"/>
    </bean>

    <!--管理DruidDataSource对象-->
    <!--德鲁伊连接池-->
    <!--
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/springdb"/>
        <property name="username" value="root"/>
        <property name="password" value="0124"/>
    </bean>
    -->

    <!--C3P0连接池-->
    <!--
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/springdb"/>
        <property name="user" value="root"/>
        <property name="password" value="0124"/>
    </bean>
    -->

</beans>