# 设置启用的环境
spring:
  profiles:
    active: dev

---

# 开发环境
spring:
  config:
    activate:
      on-profile: dev
server:
  port: 80

---

# 生产环境
spring:
  config:
    activate:
      on-profile: pro
server:
  port: 81

---

# 测试环境
spring:
  config:
    activate:
      on-profile: test
server:
  port: 82
